<template>
    <div>
        <div class="block__actions block__actions--left">
            <div class="block__actions-group">
                <div class="block__actions-block">
                    <select v-model="currentStyle">
                        <option v-for="style in Object.keys(styleTypes)"
                                :key="style"
                                :value="style">
                            {{ styleTypes[style].label }}
                        </option>
                    </select>
                    <span class="block__actions-block-icon">
                        <FAIcon icon="chevron-down"/>
                    </span>
                </div>
                <div class="block__actions-block">
                    <button @click="imageSelect()">
                        Изменить фон
                    </button>
                    <input ref="field"
                           type="file"
                           @change="getImage">
                </div>
            </div>
        </div>
        <component :is="currentStyle"
                   :block="block"
                   :index="index"/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    import styleTypes from "@/helpers/Editor/Block/cover";

    const components = {} as any;

    Object.keys(styleTypes).forEach((type: string) => {
        components[type] = () => import('@/' + styleTypes[type].path)
    })

    export default Vue.extend({
        name: 'Cover',
        props: {
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                currentStyle: 'TextWithTitle',
                styleTypes
            }
        },
        watch: {
            currentStyle() {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingTop',
                    value: undefined
                })

                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingBottom',
                    value: undefined
                })
            }
        },
        methods: {
            imageSelect() {
                const field = this.$refs.field as any
                field.click()
            },
            getImage(event: any) {
                const file = event.target.files[0]

                if (!['image/jpeg', 'image/png', 'image/gif'].includes(file.type))
                    return

                const reader = new FileReader()
                reader.onloadend = () => {
                    this.$store.commit('blocks/updateProp', {
                        index: this.index,
                        prop: 'styles.backgroundImage',
                        value: `url(${reader.result})`
                    })
                }

                reader.readAsDataURL(file)
            }
        },
        components
    })
</script>

<style lang="scss" scoped>
    .block__actions-block {
        input[type="file"] {
            display: none;
        }
    }
</style>
