<template>
    <div class="pic-block">
        <div v-if="pic"
             class="pic-block__content">
            <img :src="pic"/>
        </div>
        <div v-else
             @click="imageSelect()"
             class="pic-block__empty">
            <input ref="field"
                   type="file"
                   @change="getImage">
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    export default Vue.extend({
        name: 'Pic',
        props: {
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        created() {

            if (!(this.block.styles && this.block.styles.paddingTop !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingTop',
                    value: 20
                })
            }

            if (!(this.block.styles && this.block.styles.paddingBottom !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingBottom',
                    value: 20
                })
            }

            const content = this.block.content

            if (content && content.pic) {
                this.pic = content.pic
            }
        },
        data() {
            return {
                pic: ''
            }
        },
        watch: {
            'block.content.pic'(val) {
                this.pic = val
            }
        },
        methods: {
            imageSelect() {
                const field = this.$refs.field as any
                field.click()
            },
            getImage(event: any) {
                const file = event.target.files[0]

                if (!['image/jpeg', 'image/png', 'image/gif'].includes(file.type))
                    return

                const reader = new FileReader()
                reader.onloadend = () => {
                    this.$store.commit('blocks/updateProp', {
                        index: this.index,
                        prop: 'content.pic',
                        value: reader.result
                    })
                }

                reader.readAsDataURL(file)
            }
        }
    })
</script>

<style lang="scss" scoped>
    .pic-block {
        &__empty {
            display: block;
            max-width: 800px;
            height: 400px;
            background: url('../../../assets/bg/pic/empty.jpg') no-repeat center;
            margin: 0 auto;
            border-radius: 4px;
            cursor: pointer;

            input {
                display: none;
            }
        }

        &__content {
            max-width: 840px;
            margin: 0 auto;
            text-align: center;

            img {
                max-width: 100%;
            }
        }
    }
</style>
