<template>
    <div>
        <div class="block__actions block__actions--left">
            <div class="block__actions-block">
                <select v-model="currentStyle">
                    <option v-for="style in Object.keys(styleTypes)"
                            :key="style"
                            :value="style">
                        {{ styleTypes[style].label }}
                    </option>
                </select>
                <span class="block__actions-block-icon">
                    <FAIcon icon="chevron-down"/>
                </span>
            </div>
        </div>
        <component :is="currentStyle"
                   :block="block"
                   :index="index"/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    import styleTypes from "@/helpers/Editor/Block/text";

    const components = {} as any;

    Object.keys(styleTypes).forEach((type: string) => {
        components[type] = () => import('@/' + styleTypes[type].path)
    })

    export default Vue.extend({
        name: 'SText',
        props: {
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        created() {
            const style = this.block.style

            if (style) {
                this.currentStyle = style
            } else {
                this.updateStyle()
            }
        },
        data() {
            return {
                currentStyle: 'OnlyText',
                styleTypes
            }
        },
        watch: {
            currentStyle() {
                this.updateStyle()
            }
        },
        methods: {
            updateStyle() {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingTop',
                    value: undefined
                })

                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingBottom',
                    value: undefined
                })

                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'style',
                    value: this.currentStyle
                })
            }
        },
        components
    })
</script>
