.add-component {
    display: flex;
    justify-content: center;
    padding: 60px 20px;

    &__list {
        display: flex;
        color: #000;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;

        & > * {
            padding: 8px 14px;
            cursor: pointer;

            &:not(:first-child) {
                border-left: 1px solid #ccc;
            }
        }
    }
}
