.block {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 1px dashed #ccc;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        pointer-events: none;
        opacity: 0;
        transition: .4s;
    }

    &:hover {
        &:before {
            opacity: 1;
        }

        .block {
            &__actions {
                opacity: 1;
            }
        }
    }

    &__actions {
        position: absolute;
        top: 20px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        z-index: 1;
        transition: .4s;

        &--right {
            right: 20px;
        }

        &--left {
            left: 20px;
        }

        &-group {
            display: flex;

            & > *:not(:first-child) {
                margin-left: 4px;
            }
        }

        &-block {
            display: flex;
            color: #000;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
            position: relative;

            &-icon {
                position: absolute;
                top: 50%;
                right: 0;
                font-size: 14px;
                transform: translateY(-50%);
                pointer-events: none;
            }

            select, button {
                appearance: none;
                margin: 0;
                border: 0;
                outline: none;
                font-family: inherit;
                font-size: inherit;
                background: transparent;
            }

            select {
                padding-right: 38px;
            }

            & > * {
                padding: 8px 14px;
                cursor: pointer;

                &:not(:first-child):not(.block__actions-block-icon) {
                    border-left: 1px solid #ccc;
                }
            }
        }
    }

    &__handle {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10px;
        cursor: n-resize;
        z-index: 1;

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }
    }
}
