.button {
    display: block;
    appearance: none;
    padding: 12px 18px;
    background: #6097fb;
    color: #FFF;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    &--small {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &--danger {
        background: #ff4e4e;
    }

    &--success {
        background: #2ea518;
    }
}
