.card {
    &:not(.card--fill) {
        padding: 20px;
        border-radius: 6px;
        border: 1px solid #efefef;
        background: #FFF;
    }

    &__head {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__add {
        font-size: 12px;
        color: #ababab;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 1.2;
    }

    &__flex {
        display: flex;
        justify-content: space-between;

        &-top {
            align-items: flex-start;
        }
    }

    &__description {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__hashtag {
        font-size: 14px;

        &:not(:last-child) {
            margin-bottom: 14px;
        }

        a {
            text-decoration: none;
            color: #6097fb;
        }
    }

    &__date {
        color: #ababab;
        font-size: 12px;
    }

    &__content {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__footer {
        align-items: flex-end;
    }

    &__actions {
        display: flex;
        margin: -6px;
        justify-content: flex-end;

        & > * {
            margin: 6px;
        }
    }

    &__icon {
        font-size: 14px;
        font-weight: 300;

        & > span {
            font-size: 24px;
            color: #ccc;
            margin-right: 8px;
            vertical-align: sub;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__form {
        display: flex;

        input {
            flex-grow: 1;
            margin-right: 20px;
            padding: 10px;
            appearance: none;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-family: inherit;
            font-size: 16px;
            font-weight: 300;
            outline: none;
        }
    }
}
