.card-list {
    & > .card {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &--delimiter {
        & > .card {
            &:not(:last-child) {
                padding-bottom: 20px;
                border-bottom: 1px solid #efefef;
                margin-bottom: 20px;
            }
        }
    }
}
