.controls {
    display: flex;
    transition: .4s;

    &--fix {
        position: absolute;
        top: 0;
        left: 0;
    }

    &--hide {
        transform: translateY(-100%);
    }

    select {
        appearance: none;
        background: transparent;
        border: 0;
        padding: 20px 32px;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        outline: none;
    }

    a, button {
        padding: 20px 32px;
        text-decoration: none;
        color: inherit;
        font-family: inherit;
        font-size: 16px;
        appearance: none;
        border: 0;
        outline: none;
        background: transparent;
        cursor: pointer;

        &:hover {
            background: #9ab9ff;
            color: #FFF;
        }
    }
}
