.editor {
    position: relative;

    &__controls {
        position: sticky;
        top: 0;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        background: rgba(#FFF, .8);
        z-index: 2;
    }
}
