.field {
    outline: none;

    b {
        font-weight: 600;
    }

    i {
        font-style: italic;
    }

    a {
        color: #9ab9ff;
        text-decoration: none;
        cursor: pointer;
    }

    font[size="1"] {
        font-size: 12px;
    }

    font[size="2"] {
        font-size: 16px;
    }

    font[size="3"] {
        font-size: 20px;
    }

    font[size="4"] {
        font-size: 24px;
    }

    font[size="5"] {
        font-size: 28px;
    }

    font[size="6"] {
        font-size: 32px;
    }

    font[size="7"] {
        font-size: 36px;
    }

    &:focus {
        background: rgba(#000, .04);
    }
}
