<template>
    <div class="add-component">
        <ul class="add-component__list">
            <li v-for="type in Object.keys(blockTypes)"
                    :key="type"
                    @click="add(type)">
                {{ blockTypes[type].label }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import blockTypes from '@/helpers/Editor/blockTypes';

    export default Vue.extend({
        name: 'AddForm',
        data() {
            return {
                blockTypes
            }
        },
        methods: {
            add(type: string) {
                this.$store.commit('blocks/add', {
                    type
                })
            }
        }
    })
</script>
