<template>
    <div class="block">
        <div class="block__handle block__handle--top"
             @mousedown="handleDetect('top')"></div>
        <div class="block__handle block__handle--bottom"
             @mousedown="handleDetect('bottom')"></div>
        <div class="block__actions block__actions--right">
            <div class="block__actions-group">
                <ul class="block__actions-block">
                    <li title="Дублировать"
                        @click="copyBlock()">
                        <FAIcon icon="copy"/>
                    </li>
                    <li title="Удалить"
                        @click="deleteBlock()">
                        <FAIcon icon="trash"/>
                    </li>
                </ul>
                <ul class="block__actions-block">
                    <li title="Поднять"
                        @click="changePosition('up')">
                        <FAIcon icon="arrow-up"/>
                    </li>
                    <li title="Опустить"
                        @click="changePosition('down')">
                        <FAIcon icon="arrow-down"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block__content">
            <component :is="type"
                       :block="block"
                       :index="index"/>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    import blockTypes from '@/helpers/Editor/blockTypes';

    const components = {} as any;

    Object.keys(blockTypes).forEach((type: string) => {
        components[type] = () => import('@/' + blockTypes[type].path)
    })

    export default Vue.extend({
        name: 'Block',
        props: {
            type: {
                type: String,
                required: true
            },
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                currentVal: 0,
                activeHandle: '' as 'paddingTop' | 'paddingBottom',
                activeHandlePosition: '' as 'top' | 'bottom'
            }
        },
        mounted() {
            this.stylesUpdate()
        },
        watch: {
            'block.styles': {
                handler() {
                    this.stylesUpdate()
                },
                deep: true
            }
        },
        methods: {
            stylesUpdate() {
                if (!this.block.styles)
                    return

                const el = this.$el as any

                Object.keys(this.block.styles).forEach((styleName) => {
                    let value = this.block.styles[styleName]

                    if (!isNaN(+value))
                        value += 'px'

                    el.style[styleName] = value
                })
            },
            handleDetect(type: 'top' | 'bottom') {
                this.activeHandlePosition = type

                if (type === 'top') {
                    this.activeHandle = 'paddingTop'
                } else {
                    this.activeHandle = 'paddingBottom'
                }

                this.currentVal = this.$el.getBoundingClientRect()[this.activeHandlePosition]

                document.addEventListener('mousemove', this.mouseMoveDetected)
                document.addEventListener('mouseup', this.mouseUpDetected)
                document.addEventListener('mouseleave', this.mouseUpDetected)
                document.body.classList.add('body--unactive')
            },
            mouseMoveDetected(event: any) {
                if (event.clientY + 10 >= window.innerHeight || event.clientY - 10 <= 0)
                    return false

                const el = this.$el as any

                if (this.currentVal - event.clientY < 0) {
                    el.style[this.activeHandle] = this.block.styles[this.activeHandle] + Math.round(this.currentVal - event.clientY)*-1 + 'px'
                }

                if (this.currentVal - event.clientY > 0) {
                    el.style[this.activeHandle] = this.block.styles[this.activeHandle] - Math.round(this.currentVal - event.clientY) + 'px'
                }
            },
            mouseUpDetected(event: any) {
                const el = this.$el as any

                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: `styles.${[this.activeHandle]}`,
                    value: +el.style[this.activeHandle].replace(/[^+\d]/g, '')
                })

                document.removeEventListener('mousemove', this.mouseMoveDetected)
                document.removeEventListener('mouseup', this.mouseUpDetected)
                document.removeEventListener('mouseleave', this.mouseUpDetected)
                document.body.classList.remove('body--unactive')
            },
            copyBlock() {
                this.$store.commit('blocks/copy', this.block.id)
            },
            deleteBlock() {
                this.$store.commit('blocks/delete', this.block.id)
            },
            changePosition(type: 'up' | 'down') {
                this.$store.commit(`blocks/${type}`, this.index)
            }
        },
        components
    })
</script>
