<template>
    <div class="controls-wrapper">
        <div class="controls"
             :class="{'controls--hide': !hideField}">
            <router-link to="/">
                <FAIcon icon="arrow-left"/> Назад
            </router-link>
        </div>
        <div class="controls controls--fix"
             :class="{'controls--hide': hideField}">
            <button @click="formatDoc('bold')">
                <FAIcon icon="bold"/>
            </button>
            <button @click="formatDoc('italic')">
                <FAIcon icon="italic"/>
            </button>
            <button @click="formatDoc('underline')">
                <FAIcon icon="underline"/>
            </button>
            <button @click="formatDoc('strikethrough')">
                <FAIcon icon="strikethrough"/>
            </button>
            <button @click="formatDoc('createlink')">
                <FAIcon icon="link"/>
            </button>
            <button @click="formatDoc('justifyleft')">
                <FAIcon icon="align-left"/>
            </button>
            <button @click="formatDoc('justifycenter')">
                <FAIcon icon="align-center"/>
            </button>
            <button @click="formatDoc('justifyright')">
                <FAIcon icon="align-right"/>
            </button>
            <div>
                <select ref="fontSize"
                        @change="formatDoc('fontsize')">
                    <option selected>Размер текста</option>
                    <option value="1">12px</option>
                    <option value="2">16px</option>
                    <option value="3">20px</option>
                    <option value="4">24px</option>
                    <option value="5">28px</option>
                    <option value="6">32px</option>
                    <option value="7">36px</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    export default Vue.extend({
        name: 'Controls',
        computed: {
            hideField() {
                return this.$store.state.controls.hideField
            }
        },
        methods: {
            formatDoc(sCmd: any, sValue: any) {
                if (sCmd === 'createlink') {
                    const sLnk = prompt('Введите ваш URL','http://')

                    if (!(sLnk && sLnk !== '' && sLnk != 'http://'))
                        return

                    sValue = sLnk
                }

                if (sCmd === 'fontsize') {
                    const elem = this.$refs.fontSize as any

                    sValue = elem[elem.selectedIndex].value

                    elem.selectedIndex = 0
                }

                document.execCommand(sCmd, false, sValue);
            }
        }
    })
</script>
