<template>
    <div>
        <div class="field"
             ref="field"
             @focus="changeControls()"
             @input="checkValue"
             contenteditable>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    export default Vue.extend({
        name: 'Field',
        model: {
            prop: 'model',
            event: 'change'
        },
        props: {
            model: {
                default: ''
            }
        },
        data() {
            return {
                value: ''
            }
        },
        mounted() {
            const field = this.$refs.field as any

            field.innerHTML = this.model
        },
        methods: {
            checkValue() {
                const field = this.$refs.field as any
                this.$emit('change', field.innerHTML)
            },
            changeControls() {
                this.$store.commit('controls/changeField', false)
                document.addEventListener('click', this.clickListener)
            },
            clickListener(event: any) {
                const controls = document.querySelector('.controls--fix')

                if (!controls) {
                    document.removeEventListener('click', this.clickListener)
                    return
                }

                if (!(controls.contains(event.target) || this.$el.contains(event.target))) {
                    const selection = window.getSelection()
                    if (selection && selection.focusNode && this.$el.contains(selection.focusNode)) {
                        return
                    }

                    document.removeEventListener('click', this.clickListener)

                    const activeEl =  document.activeElement as any

                    if (!(activeEl && activeEl.attributes && activeEl.attributes.contenteditable)) {
                        this.$store.commit('controls/changeField', true)
                    }
                }
            }
        }
    })
</script>

<style scoped>
    textarea {
        overflow: hidden;
    }
</style>
