<template>
    <div class="editor">
        <Controls class="editor__controls"/>
        <Block v-for="(block, index) in blocks"
               :key="block.id"
               :block="block"
               :index="index"
               :type="block.type"/>
        <AddForm/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    import Controls from '@/components/Editor/Common/Controls.vue';
    import Block from '@/components/Editor/Common/Block.vue'
    import AddForm from '@/components/Editor/Common/AddForm.vue';

    import store from '@/helpers/Storage/store';

    export default Vue.extend({
        name: 'Editor',
        async created() {
            const project = await this.getProject().catch(() => {
                return this.$router.push('/')
            }) as any

            this.$store.commit('project/set', project)
            this.$store.commit('blocks/set', project.blocks)
        },
        computed: {
            project() {
                return this.$store.state.project.active
            },
            blocks() {
                return this.$store.state.blocks.blocks
            }
        },
        watch: {
            blocks: {
                handler(blocks) {
                    store.post({
                        ...this.project,
                        blocks
                    }, this.project.id)
                },
                deep: true
            }
        },
        methods: {
            getProject() {
                return new Promise((resolve, reject) => {
                    const {
                        id
                    } = this.$route.params

                    if (!id)
                        return reject()

                    store.get(+id).then((project) => {
                        if (!project)
                            reject()

                        resolve(project)
                    }).catch(() => {
                        reject()
                    })
                })
            },
        },
        components: {
            Block,
            AddForm,
            Controls
        }
    })
</script>
