<template>
    <div class="container">
        <h1 class="page-title">
            Проекты
        </h1>
        <div class="card-list">
            <div class="card">
                <form @submit.prevent="createProject()"
                      class="card__form">
                    <input v-model="projectName"
                           type="text"
                           placeholder="Название проекта"/>
                    <button type="submit"
                            class="button">
                        Добавить новый
                    </button>
                </form>
            </div>
            <div class="card"
                 v-for="project in projects"
                 :key="project.id">
                <div class="card__head">
                    <p class="card__title">
                        {{ project.title }}
                    </p>
                </div>
                <div class="card__content" v-if="project.description">
                    <p class="card__description">
                        {{ project.description }}
                    </p>
                </div>
                <div class="card__footer">
                    <div class="card__actions">
                        <button @click="deleteProject(project.id)"
                                class="button button--small button--danger">
                            Удалить
                        </button>
                        <router-link :to="`/editor/${project.id}`"
                                     class="button button--small">
                            Редактировать
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'

    import store from '@/helpers/Storage/store';

    export default Vue.extend({
        name: 'Projects',
        data() {
            return {
                projectName: '',
                projects: [] as any
            }
        },
        created() {
            this.getAllProjects()
        },
        methods: {
            async createProject() {
                const id = await store.post({
                    title: this.projectName
                }) as number

                this.openProject(id)
            },
            async openProject(id: number) {
                const project = await store.get(id) as any

                this.$router.push(`/editor/${id}`)
            },
            async deleteProject(id: number) {
                await store.delete(id)
                this.getAllProjects()
            },
            async getAllProjects() {
                this.projects = await store.getAll()
            }
        }
    })
</script>
