<template>
    <div class="only-text">
        <div class="only-text__container only-text__content">
            <Field v-model="text"/>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import texts from '@/helpers/Editor/texts';

    import Field from '@/components/Editor/Common/Field.vue';

    export default Vue.extend({
        name: 'OnlyText',
        props: {
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        created() {
            if (!(this.block.styles && this.block.styles.paddingTop !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingTop',
                    value: 40
                })
            }

            if (!(this.block.styles && this.block.styles.paddingBottom !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingBottom',
                    value: 40
                })
            }

            if (!this.block.content)
                return

            const {
                text
            } = this.block.content

            if (text !== undefined) {
                this.text = text
            }
        },
        data() {
            return {
                text: `<p>${texts.text1}</p>`
            }
        },
        watch: {
            text(value) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'content.text',
                    value
                })
            }
        },
        components: {
            Field
        }
    })
</script>

<style lang="scss" scoped>
    .only-text {
        display: block;
        width: 100%;

        &__container {
            max-width: 840px;
            margin: 0 auto;
        }

        &__content {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 300;
        }
    }
</style>
