<template>
    <div class="text-with-title">
        <div class="text-with-title__container">
            <div class="text-with-title__title">
                <Field v-model="title"/>
            </div>
            <div class="text-with-title__content">
                <Field v-model="text"/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import texts from '@/helpers/Editor/texts';

    import Field from '@/components/Editor/Common/Field.vue';

    export default Vue.extend({
        name: 'TextWithTitle',
        props: {
            block: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        created() {
            if (!(this.block.styles && this.block.styles.paddingTop !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingTop',
                    value: 60
                })
            }

            if (!(this.block.styles && this.block.styles.paddingBottom !== undefined)) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'styles.paddingBottom',
                    value: 40
                })
            }

            if (!this.block.content)
                return

            const {
                text,
                title
            } = this.block.content

            if (text !== undefined) {
                this.text = text
            }

            if (title !== undefined) {
                this.title = title
            }
        },
        data() {
            return {
                title: '<h1>We are the best</h1>',
                text: `<p>${texts.text1}</p>`
            }
        },
        watch: {
            text(value) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'content.text',
                    value
                })
            },
            title(value) {
                this.$store.commit('blocks/updateProp', {
                    index: this.index,
                    prop: 'content.title',
                    value
                })
            }
        },
        components: {
            Field
        }
    })
</script>

<style lang="scss" scoped>
    .text-with-title {
        display: block;
        width: 100%;

        &__container {
            max-width: 840px;
            margin: 0 auto;
        }

        &__title {
            font-size: 32px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 40px;
        }

        &__content {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 300;
        }
    }
</style>
